body {
  font-family: Fantasy;
}

p {
  color: silver;
}

.terzine p {
  color: violet;
  font-style: italic;
  line-height: 24px;
}

#preferita {
  border: 1px solid red;
  font-weight: bold;
  font-size: 20px;
}

img {
  border: 3px solid #FF0000;
  border-radius: 5px;
}
